# Assignment 4: Isolation Forests
Kellen Mossner 26024284

#### Investigate parameter correlations & practical guidelines
Likely correlations to test

- max_samples vs n_estimators: smaller max_samples may need more n_estimators to stabilize detection.

- max_features vs dataset dimensionality: high-dim noisy features → lower max_features helps.

- contamination vs observed precision/recall: higher contamination → more positive predictions → recall ↑, precision ↓.

Guidelines to derive

- If anomalies are sparse and subtle → use larger max_samples (to let trees see enough structure) and moderate n_estimators.

- If anomalies are strong single-point outliers → smaller max_samples may isolate them faster (but validate for variance).

- For noisy high-dim data → lower max_features or feature selection prior to IF.

- Use n_estimators large enough to stabilize scores (check std of metric), but stop when marginal gain is tiny.

- If contamination is unknown, evaluate on score metrics (AUC/AP) and avoid hard thresholding without validation.

In [65]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from ucimlrepo import fetch_ucirepo 
from scipy.io import loadmat

from sklearn.ensemble import IsolationForest
from sklearn.model_selection import train_test_split, KFold, StratifiedKFold 
from sklearn.preprocessing import MinMaxScaler, LabelEncoder
from sklearn.metrics import (
    mean_squared_error,
    mean_absolute_error,
    r2_score,
    accuracy_score,
    classification_report,
    confusion_matrix,
    precision_score,
    recall_score,
    f1_score,
    matthews_corrcoef
)
import tqdm

# IEEE dual-column specifications
column_width_pt = 241.14734  # Exact IEEE dual-column width
text_width_pt = 516.0        # Full text width (both columns + gap)

column_width_inches = column_width_pt / 72.27
text_width_inches = text_width_pt / 72.27

plt.rcParams.update({
    "text.usetex": True,
    "font.family": "serif",
    "font.size": 10,           # Base font size to match document
    "axes.labelsize": 10,      # x and y axis labels
    "axes.titlesize": 10,      # Plot title
    "xtick.labelsize": 10,      # x-axis tick labels (slightly smaller)
    "ytick.labelsize": 10,      # y-axis tick labels (slightly smaller)
    "legend.fontsize": 10,      # Legend text
    "figure.titlesize": 10,    # Figure title (if used)
    
    # Line and marker properties
    "lines.linewidth": 1.2,
    "lines.markersize": 4,
    "patch.linewidth": 0.5,
    
    # Grid properties
    "grid.linewidth": 0.5,
    "grid.alpha": 0.3,
    
    # Save properties
    "savefig.dpi": 300,
    "savefig.bbox": "tight",
    "savefig.format": "pdf",
    "savefig.pad_inches": 0.02,
})

import scikit_posthocs as sp
from scipy.stats import rankdata, wilcoxon
from scipy.stats import friedmanchisquare
from scipy.stats import rankdata
from scipy.stats import ttest_rel

In [66]:
# Data quality reports
def quality_report(df):
    """
    Generate a quality report for the DataFrame.
    """

    report_cts = df.describe(include=[np.number]).T
    report_cts["Cardinality"] = df.nunique()
    report_cts["Missing Percentage"] = (df.isnull().sum() / len(df)) * 100
    report_cts.rename(
        columns={
            "50%": "Median",
            "25%": "1st Qrt",
            "75%": "3rd Qrt",
            "mean": "Mean",
            "count": "Count",
            "max": "Max",
            "std": "Std Dev",
            "min": "Min",
        },
        inplace=True,
    )
    report_cts["Count"] = len(df)
    report_cts.reset_index(inplace=True)
    report_cts.rename(columns={"index": "Feature"}, inplace=True)

    categorical_cols = df.select_dtypes(include=["object"]).columns
    cat_data = []
    for col in categorical_cols:
        value_counts = df[col].value_counts()
        total_count = len(df[col])
        mode = value_counts.index[0] if len(value_counts) > 0 else None
        mode_freq = value_counts.iloc[0] if len(value_counts) > 0 else 0
        mode_pct = (mode_freq / total_count * 100) if total_count > 0 else 0
        second_mode = value_counts.index[1] if len(value_counts) > 1 else None
        second_mode_freq = value_counts.iloc[1] if len(value_counts) > 1 else 0
        second_mode_pct = (
            (second_mode_freq / total_count * 100) if total_count > 0 else 0
        )
        cat_data.append(
            {
                "Feature": col,
                "Count": total_count,
                "Missing Percentage": round(
                    (df[col].isnull().sum() / len(df)) * 100, 2
                ),
                "Unique": df[col].nunique(),
                "Mode": mode,
                "Mode Freq": mode_freq,
                "Mode %": round(mode_pct, 2),
                "2nd Mode": second_mode,
                "2nd Mode Freq": second_mode_freq,
                "2nd Mode %": round(second_mode_pct, 2),
                "Cardinality": df[col].nunique(),
            }
        )
    report_cat = pd.DataFrame(cat_data)

    # return both data quality reports
    return report_cts, report_cat

### Data Pre-processing

#### Steel Faults Dataset

In [68]:
# Steel Plates Faults dataset
steel_plates_faults = fetch_ucirepo(id=198) 

X_fault = steel_plates_faults.data.features
y_fault = steel_plates_faults.data.targets # one hot encoded labels

# convert one-hot encoded labels to single column
y_fault = y_fault.idxmax(axis=1)
print(y_fault.value_counts())
y_fault = y_fault.apply(lambda x: 1 if x == 'Other_Faults' else 0)
y_fault.name = 'Outlier_label'

df_fault = pd.concat([X_fault, y_fault], axis=1)
df_fault['Outlier_label'] = df_fault['Outlier_label'].astype(object)

Other_Faults    673
Bumps           402
K_Scratch       391
Z_Scratch       190
Pastry          158
Stains           72
Dirtiness        55
Name: count, dtype: int64

In [69]:
report_cts1, report_cat1 = quality_report(df_fault)

report_cts1.head(50)

,Feature,Count,Mean,Std Dev,Min,1st Qrt,Median,3rd Qrt,Max,Cardinality,Missing Percentage
0,X_Minimum,1941,5.711360e+02,5.206907e+02,0.0000,51.0000,4.350000e+02,1.053000e+03,1.705000e+03,962,0.0
1,X_Maximum,1941,6.179645e+02,4.976274e+02,4.0000,192.0000,4.670000e+02,1.072000e+03,1.713000e+03,994,0.0
2,Y_Minimum,1941,1.650685e+06,1.774578e+06,6712.0000,471253.0000,1.204128e+06,2.183073e+06,1.298766e+07,1939,0.0
3,Y_Maximum,1941,1.650739e+06,1.774590e+06,6724.0000,471281.0000,1.204136e+06,2.183084e+06,1.298769e+07,1940,0.0
4,Pixels_Areas,1941,1.893878e+03,5.168460e+03,2.0000,84.0000,1.740000e+02,8.220000e+02,1.526550e+05,920,0.0
5,X_Perimeter,1941,1.118552e+02,3.012092e+02,2.0000,15.0000,2.600000e+01,8.400000e+01,1.044900e+04,399,0.0
6,Y_Perimeter,1941,8.296600e+01,4.264829e+02,1.0000,13.0000,2.500000e+01,8.300000e+01,1.815200e+04,317,0.0
7,Sum_of_Luminosity,1941,2.063121e+05,5.122936e+05,250.0000,9522.0000,1.920200e+04,8.301100e+04,1.159141e+07,1909,0.0
8,Maximum_of_Luminosity,1941,1.301937e+02,1.869099e+01,37.0000,124.0000,1.270000e+02,1.400000e+02,2.530000e+02,100,0.0
9,Length_of_Conveyer,1941,1.459160e+03,1.445778e+02,1227.0000,1358.0000,1.364000e+03,1.650000e+03,1.794000e+03,84,0.0
10,TypeOfSteel_A300,1941,4.003091e-01,4.900872e-01,0.0000,0.0000,0.000000e+00,1.000000e+00,1.000000e+00,2,0.0
11,TypeOfSteel_A400,1941,5.996909e-01,4.900872e-01,0.0000,0.0000,1.000000e+00,1.000000e+00,1.000000e+00,2,0.0
12,Steel_Plate_Thickness,1941,7.873776e+01,5.508603e+01,40.0000,40.0000,7.000000e+01,8.000000e+01,3.000000e+02,24,0.0
13,Edges_Index,1941,3.317152e-01,2.997117e-01,0.0000,0.0604,2.273000e-01,5.738000e-01,9.952000e-01,1387,0.0
14,Empty_Index,1941,4.142033e-01,1.372615e-01,0.0000,0.3158,4.121000e-01,5.016000e-01,9.439000e-01,1338,0.0
15,Square_Index,1941,5.707671e-01,2.710584e-01,0.0083,0.3613,5.556000e-01,8.182000e-01,1.000000e+00,770,0.0
16,Outside_X_Index,1941,3.336110e-02,5.896117e-02,0.0015,0.0066,1.010000e-02,2.350000e-02,8.759000e-01,454,0.0
17,Edges_X_Index,1941,6.105286e-01,2.432769e-01,0.0144,0.4118,6.364000e-01,8.000000e-01,1.000000e+00,818,0.0
18,Edges_Y_Index,1941,8.134722e-01,2.342736e-01,0.0484,0.5968,9.474000e-01,1.000000e+00,1.000000e+00,648,0.0
19,Outside_Global_Index,1941,5.757342e-01,4.823520e-01,0.0000,0.0000,1.000000e+00,1.000000e+00,1.000000e+00,3,0.0
20,LogOfAreas,1941,2.492388e+00,7.889299e-01,0.3010,1.9243,2.240600e+00,2.914900e+00,5.183700e+00,914,0.0
21,Log_X_Index,1941,1.335686e+00,4.816116e-01,0.3010,1.0000,1.176100e+00,1.518500e+00,3.074100e+00,183,0.0
22,Log_Y_Index,1941,1.403271e+00,4.543452e-01,0.0000,1.0792,1.322200e+00,1.732400e+00,4.258700e+00,217,0.0
23,Orientation_Index,1941,8.328764e-02,5.008680e-01,-0.9910,-0.3333,9.520000e-02,5.116000e-01,9.917000e-01,918,0.0
24,Luminosity_Index,1941,-1.313050e-01,1.487668e-01,-0.9989,-0.1950,-1.330000e-01,-6.660000e-02,6.421000e-01,1522,0.0
25,SigmoidOfAreas,1941,5.854205e-01,3.394518e-01,0.1190,0.2482,5.063000e-01,9.998000e-01,1.000000e+00,388,0.0
26,Minimum_of_Luminosity,1941,8.454869e+01,3.213428e+01,0.0000,63.0000,9.000000e+01,1.060000e+02,2.030000e+02,161,0.0

In [70]:
report_cat1.head(10)

,Feature,Count,Missing Percentage,Unique,Mode,Mode Freq,Mode %,2nd Mode,2nd Mode Freq,2nd Mode %,Cardinality
0,Outlier_label,1941,0.0,2,0,1268,65.33,1,673,34.67,2

#### Ann Thyroid Dataset

In [71]:
df_thyroid = pd.read_csv('../data/annthyroid/annthyroid_unsupervised_anomaly_detection.csv', sep=';')

# drop last two columns
df_thyroid.drop(columns=df_thyroid.columns[-2:], inplace=True)

# convert outlier target to binary
df_thyroid['Outlier_label'] = df_thyroid['Outlier_label'].apply(lambda x: 1 if x == 'o' else 0)
df_thyroid['Outlier_label'] = df_thyroid['Outlier_label'].astype(object)

df_thyroid.head()

,Age,Sex,on_thyroxine,query_on_thyroxine,on_antithyroid_medication,sick,pregnant,thyroid_surgery,I131_treatment,query_hypothyroid,...,goitre,tumor,hypopituitary,psych,TSH,T3_measured,TT4_measured,T4U_measured,FTI_measured,Outlier_label
0,0.45,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,61.0,6.0,23.0,87.0,26.0,1
1,0.61,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,29.0,15.0,61.0,96.0,64.0,1
2,0.16,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,29.0,19.0,58.0,103.0,56.0,1
3,0.85,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,114.0,3.0,24.0,61.0,39.0,1
4,0.75,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,49.0,3.0,5.0,116.0,4.0,1

In [72]:
report_cts2, report_cat2 = quality_report(df_thyroid)

report_cts2.head(50)

,Feature,Count,Mean,Std Dev,Min,1st Qrt,Median,3rd Qrt,Max,Cardinality,Missing Percentage
0,Age,6916,0.595098,6.189326,0.0100,0.37000,0.5400,0.6700,515.0,98,0.0
1,Sex,6916,0.307548,0.461512,0.0000,0.00000,0.0000,1.0000,1.0,2,0.0
2,on_thyroxine,6916,0.134615,0.341337,0.0000,0.00000,0.0000,0.0000,1.0,2,0.0
3,query_on_thyroxine,6916,0.015616,0.123993,0.0000,0.00000,0.0000,0.0000,1.0,2,0.0
4,on_antithyroid_medication,6916,0.013158,0.113959,0.0000,0.00000,0.0000,0.0000,1.0,2,0.0
5,sick,6916,0.038317,0.191974,0.0000,0.00000,0.0000,0.0000,1.0,2,0.0
6,pregnant,6916,0.011278,0.105606,0.0000,0.00000,0.0000,0.0000,1.0,2,0.0
7,thyroid_surgery,6916,0.014315,0.118793,0.0000,0.00000,0.0000,0.0000,1.0,2,0.0
8,I131_treatment,6916,0.016773,0.128428,0.0000,0.00000,0.0000,0.0000,1.0,2,0.0
9,query_hypothyroid,6916,0.062753,0.242536,0.0000,0.00000,0.0000,0.0000,1.0,2,0.0
10,query_hyperthyroid,6916,0.069404,0.254159,0.0000,0.00000,0.0000,0.0000,1.0,2,0.0
11,lithium,6916,0.013013,0.113339,0.0000,0.00000,0.0000,0.0000,1.0,2,0.0
12,goitre,6916,0.008531,0.091975,0.0000,0.00000,0.0000,0.0000,1.0,2,0.0
13,tumor,6916,0.025448,0.157494,0.0000,0.00000,0.0000,0.0000,1.0,2,0.0
14,hypopituitary,6916,0.000145,0.012025,0.0000,0.00000,0.0000,0.0000,1.0,2,0.0
15,psych,6916,0.049740,0.217422,0.0000,0.00000,0.0000,0.0000,1.0,2,0.0
16,TSH,6916,1.603466,14.047218,0.0000,0.00068,0.0017,0.0027,494.0,281,0.0
17,T3_measured,6916,11.772446,11.836250,0.0005,0.02010,13.0000,22.0000,95.0,84,0.0
18,TT4_measured,6916,94.253834,50.555642,0.0025,77.00000,101.0000,123.0000,395.0,261,0.0
19,T4U_measured,6916,88.270139,33.909845,0.0500,83.00000,96.0000,104.0000,233.0,161,0.0
20,FTI_measured,6916,95.257058,55.031137,0.0024,81.00000,105.0000,125.0000,642.0,433,0.0

In [73]:
report_cat2.head(50)

,Feature,Count,Missing Percentage,Unique,Mode,Mode Freq,Mode %,2nd Mode,2nd Mode Freq,2nd Mode %,Cardinality
0,Outlier_label,6916,0.0,2,0,6666,96.39,1,250,3.61,2

#### Sat-image 2

In [74]:
satimage = loadmat('../data/satimage-2/satimage-2.mat')

# convert to dataframe
X_sat = pd.DataFrame(satimage['X'])
y_sat = pd.DataFrame(satimage['y'], columns=['Outlier_label'])
y_sat['Outlier_label'] = y_sat['Outlier_label'].astype(object)

df_sat = pd.concat([X_sat, y_sat], axis=1)

In [75]:
report_cts3, report_cat3 = quality_report(df_sat)
report_cts3.head(50)

,Feature,Count,Mean,Std Dev,Min,1st Qrt,Median,3rd Qrt,Max,Cardinality,Missing Percentage
0,0,5803,71.519387,12.232358,40.0,63.0,70.0,82.0,104.0,50,0.0
1,1,5803,88.111839,18.426402,27.0,75.0,89.0,103.0,137.0,83,0.0
2,2,5803,97.797174,16.235822,53.0,84.0,100.0,112.0,139.0,75,0.0
3,3,5803,78.912804,14.337176,33.0,68.0,80.0,90.0,146.0,91,0.0
4,4,5803,71.304325,12.173531,40.0,63.0,70.0,82.0,104.0,50,0.0
5,5,5803,87.811821,18.390712,27.0,75.0,88.0,103.0,137.0,81,0.0
6,6,5803,97.572635,16.246730,50.0,84.0,98.0,111.0,139.0,75,0.0
7,7,5803,78.742719,14.338564,29.0,67.0,79.0,89.0,157.0,91,0.0
8,8,5803,71.021368,12.090072,40.0,63.0,68.0,80.0,104.0,50,0.0
9,9,5803,87.354472,18.452842,27.0,75.0,88.0,103.0,130.0,79,0.0
10,10,5803,97.282440,16.175113,50.0,84.0,98.0,111.0,140.0,77,0.0
11,11,5803,78.667069,14.423476,29.0,67.0,79.0,89.0,150.0,93,0.0
12,12,5803,71.429433,12.220003,41.0,63.0,70.0,82.0,104.0,49,0.0
13,13,5803,88.101499,18.218347,27.0,75.0,88.0,103.0,137.0,81,0.0
14,14,5803,97.728589,16.278045,50.0,84.0,100.0,112.0,145.0,77,0.0
15,15,5803,78.776323,14.222560,29.0,68.0,79.0,90.0,150.0,92,0.0
16,16,5803,71.260727,12.131408,40.0,63.0,70.0,81.0,104.0,50,0.0
17,17,5803,87.923488,18.242365,27.0,75.0,88.0,103.0,130.0,79,0.0
18,18,5803,97.529209,16.316352,50.0,84.0,98.0,112.0,139.0,76,0.0
19,19,5803,78.665690,14.318167,29.0,67.0,79.0,89.0,150.0,90,0.0
20,20,5803,71.029123,12.052726,40.0,63.0,68.0,80.0,104.0,49,0.0
21,21,5803,87.536964,18.279792,27.0,75.0,88.0,103.0,130.0,78,0.0
22,22,5803,97.325521,16.258109,50.0,84.0,98.0,111.0,138.0,75,0.0
23,23,5803,78.599173,14.319203,29.0,67.0,79.0,89.0,150.0,93,0.0
24,24,5803,71.187834,12.278294,40.0,63.0,70.0,80.0,104.0,49,0.0
25,25,5803,87.775289,18.432409,29.0,75.0,88.0,103.0,131.0,79,0.0
26,26,5803,97.687748,16.169177,50.0,84.0,100.0,111.5,139.0,74,0.0
27,27,5803,78.969154,14.427316,29.0,68.0,79.0,90.0,151.0,93,0.0
28,28,5803,71.028951,12.181518,40.0,63.0,68.0,80.0,104.0,49,0.0
29,29,5803,87.700327,18.387719,27.0,75.0,88.0,103.0,130.0,80,0.0
30,30,5803,97.567293,16.243878,50.0,84.0,98.0,112.0,139.0,76,0.0
31,31,5803,78.860589,14.351957,29.0,68.0,79.0,90.0,151.0,93,0.0
32,32,5803,70.824229,12.090537,40.0,63.0,68.0,80.0,104.0,49,0.0
33,33,5803,87.415302,18.405769,27.0,75.0,88.0,103.0,130.0,78,0.0
34,34,5803,97.413407,16.208362,50.0,84.0,98.0,111.0,139.0,74,0.0
35,35,5803,78.815268,14.380497,29.0,67.0,79.0,90.0,151.0,93,0.0

In [76]:
report_cat3.head(10)

,Feature,Count,Missing Percentage,Unique,Mode,Mode Freq,Mode %,2nd Mode,2nd Mode Freq,2nd Mode %,Cardinality
0,Outlier_label,5803,0.0,2,0.0,5732,98.78,1.0,71,1.22,2